@media screen and (max-width: 1400px) {
    .welcome__slider {
        &__picture img {
            width: 115%;
        }
        &__subtitle {
            padding-bottom: 10px;
        }
        &__text {
            max-width: 40vw;
            padding-bottom: 20px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .header, .welcome__slider__content, .about__us, .our__features, .products__list, .testimonials, .why__us, .why__us__benefits, .footer__info, .footer__rights {
        padding: $paddingUpTo1200;
    }
    .welcome__slider {
        &__picture img {
            width: 125%;
        }
        &__content {
            top: 30%;
            max-width: 80vw;
        }
        &__title {
            margin: 0;
        }
        &__subtitle {
            padding-bottom: 0;
        }
    }
    .header__basket {
        &__products {
            width: 75vw;
            height: 70vh;
        }
        &__close {
            top: 13%;
            right: 12%;
        }
        &__sum {
            width: 77vw;
            left: 11%;
        }
    }

    .testimonials__slider__content {
        max-width: 450px;
    }
    .blog__slider__picture {
        width: 18vw;
    }
}
@media screen and (max-width: 992px) {
    .header, .welcome__slider__content, .about__us, .our__features, .products__list, .testimonials, .why__us, .why__us__benefits, .footer__info, .footer__rights {
        padding: $paddingUpTo992;
    }
    .welcome__slider {
        &__picture img {
            width: 145%;
        }
        &__text {
            padding-bottom: 0;
            max-width: 60vw;
        }
        &__shop__button {
            height: 45px;
        }
    }
    .our__features__block {
        width: 18vw;
    }
    .testimonials__slider__img {
        width: 95%;
    }
    .testimonials__slider__content {
        top: -5%;
        margin-left: -37%;
    }
}
@media screen and (max-width: 768px) {
    .header, .welcome__slider__content, .about__us, .our__features, .products__list, .testimonials, .why__us, .why__us__benefits, .footer__info, .footer__rights {
        padding: $paddingUpTo768;
    }
    .header {
        &__nav {
            position: relative;
        }
        &__menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: -600%;
            width: 30vw;
            background: $colorGreen;
            transition: all 0.4s ease;
            &.open {
                top: 5vh;
                left: 45vw;
            }
        }
        &__link {
            line-height: 13vh;
        }
        &__basket {
            width: 75px;
            left: -5%;
        }
        &__burger {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        transition: 0.3s;
        & span {
            display: block;
            position: absolute;
            top: 50%;
            right: 50px;
            background: $colorBrown;
            width: 100%;
            height: 2px;
            transition: 0.3s;
            &::before, &::after {
                display: block;
                content: '';
                background-color: $colorBrown;
                position: absolute;
                width: 100%;
                height: 2px;
                right: 0;
                transition-duration: 0.3s, 0.3s;
            }
            &::before {
                top: -10px;
                transition-property: top, transform;
            }
            &::after {
                bottom: -10px;
                transition-property: bottom, transform;
            } 
        }
        &.open span {
            transition: 0.5s; 
            background: none;
        }
        &.open span::before {
            transform: rotate(45deg);
            top: 0;
            transition: 0.4s;
        }
        &.open span::after {
            transform: rotate(-45deg);
            bottom: 0;
            transition: 0.4s;
        }
    }
    }
    .header__cart {
        width: 10%;
    }
    .welcome__slider {
        &__picture img {
            width: 155%;
        }
        &__content {
            width: 80vw;
        }
        &__title {
            font-size: 35px;
        }
        &__text {
            max-width: 80vw;
            line-height: 20px;
        }
    }
    .about__us {
        flex-direction: column;
        align-items: center;
        margin: 100px auto;
        &__picture {
            width: 85%;
        }
        &__info {
            max-width: 75vw;
        }
    }
    .products__list__item {
        width: 25vw;
        max-height: 230px;
    }
    .testimonials__slider__img {
        width: 90%;
    }
    .testimonials__slider__content {
        max-width: 55vw;
    }
    .testimonials__slider__symbol {
        margin: 0;
        padding-top: 30px;
    }
    .why__us {
        flex-direction: column;
        align-items: center;
        &__picture {
            padding: 125px 0 0 0;
            width: 60vw;
        }
        &__content {
            padding: 100px 0 50px 0;
            max-width: 80vw;
        }
    }
    .blog {
        padding: 0 30px;
    }
    .blog__slider__picture {
        width: 23vw;
    }
    .blog__slider__title {
        width: 90%;
    }
    .footer {
        &__data, &__contacts, &__newsletter {
            width: 25vw;
        }
    }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
    .testimonials__slider {
        &__img {
            width: 85%;
        }
        &__content {
            max-width: 67vw;
            margin-left: -37%;
        }
        &__symbol {
            padding-top: 45px;
        }
    }
    .testimonials__quote {
        margin-bottom: 30px;
    }
    .footer__info {
        justify-content: space-around;
    }
}
@media screen and (max-width: 576px) {
    .header, .about__us, .our__features, .products__list, .testimonials, .why__us, .why__us__benefits, .footer__info, .footer__rights {
        padding: $paddingUpTo576;
    }
    .welcome__slider {
        &__picture img {
            width: 190%;
        }
        &__content {
            max-width: 90vw;
            padding-left: 20px;
        }
    }
    .header__menu {
        &.open {
            left: 0;
            width: 50vw;
        }
    }
    .header__cart {
        width: 25%;
    }
    .products__list__item img {
        width: 100%;
    }
    .why__us__accordeon__header::before {
        margin: 0 10px 20px 0;
    }
    .why__us__benefits img {
        max-width: 15vw;
    }
    .blog__slider__picture {
        width: 50vw;
    }
    .footer {
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__data, &__contacts, &__newsletter {
            width: 45vw;
            padding: 20px 0;
        }
    }
}
@media screen and (max-width: 400px) {
    .header__basket__products {
        padding: 20px;
    }
    .basket__product__title {
        font-size: 0.95em;
        width: 25%;
    }
}
@media screen and (min-width: 321px) and (max-width: 450px) {
    .header__basket {
        width: 100px;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 576px) {
    .about__us, .testimonials, .why__us__benefits, .footer__info, .footer__rights {
        padding: 0 calc(50vw - 150px);
    }
    .title {
    font-size: 30px;
    }
    .subtitle {
    font-size: 15px;
    }
    .welcome__slider {
        &__picture img {
            width: 320%;
        }
        &__title {
            font-size: 25px;
        }
        &__text {
            font-size: 16px;
        }
    }
    .header {
        height: 90px;
        &__burger {
            width: 85px;
        }
        }
    .header__basket {
        &__products {
            width: 90vw;
        }
        &__sum {
            width: 94vw;
            left: 3%;
        } 
    }
    .basket__product {
        & h3 {
            width: 30%;
            margin-left: 5px;
        }
        &__title {
            width: 75%;
        }
        &__remove {
            width: 40px;
            height: 40px;
            margin-right: 5px;
        }
    }
    .change__number input {
        width: 15px;
    }
    .about__us {
        margin: 80px auto;
        &__info {
            width: 90vw;
            img {
                max-width: 85px;
            }
        }
        &__picture {
            width: 90%;
        }
        &__founder__info {
            margin-left: 5%;
        }
    }
    .our__features {
        display: flex;
        flex-direction: column;
        &__block {
            width: 100vw;
            max-width: 300px;
            margin: 15px auto;
        }
        &__number {
            font-size: 40px;
        }
    }
    .products {
        &__subtitle {
            margin-top: 80px;
        }
        &__list__item {
            width: 30vw;
            min-width: 50px;
            max-height: 230px;
            margin: 35px 10px;
            padding: 30px 15px;
        }
    }
    .testimonials {
        &__subtitle {
            padding-top: 80px;
        }
        &__slider__img {
                width: 95%;
                height: 250px;
        }
        &__slider__content {
                max-width: 60vw;
                margin-left: -38%;
                font-size: 0.9em;
        }
        &__slider__symbol {
            padding-top: 20px;
        }
        &__client__info img {
            width: 25%;
        }
        &__quote {
                margin-bottom: 10px;
            }
        }
    .why__us {
        &__picture {
            padding: 80px 0 0 0;
            width: 75vw;
        }
        &__content {
            padding: 50px 0;
            margin-left: 0;
            max-width: 90vw;
        }
    }
    .blog {
        &__subtitle {
            margin-top: 60px;
        }
        &__slider {
            margin-bottom: 100px;
            &__picture {
                width: 70vw;
            }
        }
    }
    .footer {
        &__info {
            align-items: baseline;
        }
        &__data, &__contacts, &__newsletter {
            width: 70vw;
            font-size: 1.1em;
        }
    } 
}