$paddingWide: 0 calc(50vw - 600px);
$paddingUpTo1200: 0 calc(50vw - 500px);
$paddingUpTo992: 0 calc(50vw - 400px);
$paddingUpTo768: 0 calc(50vw - 350px);
$paddingUpTo576: 0 calc(50vw - 250px);
$paddingUpTo320: 0 calc(50vw - 150px);
$fontLato: "Lato", sans-serif;
$colorDarkGrey: #434345;
$colorLightGrey: #777777;
$colorExtraLightGrey: #e1e1e1;
$colorBrown: #d0af8a;
$colorGreen: #f3f7ec;
$colorDarkGreen: #e8edde;
$borderLight: 1px solid #e1e1e1;
