.why__us {
    display: flex;
    padding: $paddingWide;
    &__picture {
    width: 55vw;
    height: 100%;
    padding: 125px 0 110px 0;
    img {
        width: 100%;
        max-width: 550px;
        height: auto;  
    }  
    }
    &__content {
        margin-left: 50px;
        width: 100%;
        max-width: 565px;
        padding: 125px 0 110px 0;
    }
    &__accordeon {
        &__header {
            font-weight: 400;
            margin: 15px 0;
            border-bottom: $borderLight;
            cursor: pointer;
            &::before {
                @include accordeonPseudoCircle;
                content: "\003E";
                margin: 5px;
                font-size: 20px;
                line-height: 30px;
                margin: 0 20px 20px 0;
                transition: .5s ease all;
            }
            &.active::before {
                @include moreButtonsActive;
                background: #d0af8a;
                color: white;
                transition: .5s ease all;
            }
        }
        &__body {
            font-family: $fontLato;
            color: $colorLightGrey;
            transition: .5s ease all;
        } 
    }
    &__benefits {
        display: flex;
        justify-content: space-around;
        padding: $paddingWide;
        position: relative;
        &::after {
            display: block;
            content: '';
            height: 1px;
            width: 70vw;
            background-color: $colorExtraLightGrey;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
        }
        img {
            padding-bottom: 20px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}